---
import { Hero } from "@modules/Hero";
import Layout from "../layouts/Layout.astro";
import { Features } from "@modules/Feautres";
import { ImageContent } from "@modules/ImageContent";
import { SectionHeadings } from "@modules/SectionsHeading";
import { Testimonials } from "@modules/Testimonials";
---

<Layout title="Trail Landing" description="YOUR META DESCRIPTION FOR SEO">
    <main class="page-content">
        <Hero
            heroType="center"
            data={{
                image: "",
                title: `Limitless Web3 Exchange`,
                
                description: `A simple, elegant, and modern landing page template for startups, apps, and products.`,
                
                buttons: [
                   
                ],
            }}
        />
       
    <div id="debridgeWidget"></div>
<script src="https://app.debridge.finance/assets/scripts/widget.js"></script>
<script>
deBridge.widget({"v":"1","element":"debridgeWidget","title":"Sky Ro","description":"","width":"100%","height":"600","r":"32427","supportedChains":"{\"inputChains\":{\"1\":\"all\",\"10\":\"all\",\"56\":\"all\",\"100\":\"all\",\"137\":\"all\",\"146\":\"all\",\"747\":\"all\",\"999\":\"all\",\"1329\":\"all\",\"1514\":\"all\",\"2741\":\"all\",\"5000\":\"all\",\"8453\":\"all\",\"32769\":\"all\",\"42161\":\"all\",\"43114\":\"all\",\"50104\":\"all\",\"59144\":\"all\",\"60808\":\"all\",\"80094\":\"all\",\"999999\":\"all\",\"7565164\":\"all\",\"245022934\":\"all\",\"728126428\":\"all\"},\"outputChains\":{\"1\":\"all\",\"10\":\"all\",\"56\":\"all\",\"100\":\"all\",\"137\":\"all\",\"146\":\"all\",\"747\":\"all\",\"999\":\"all\",\"1329\":\"all\",\"1514\":\"all\",\"2741\":\"all\",\"5000\":\"all\",\"8453\":\"all\",\"32769\":\"all\",\"42161\":\"all\",\"43114\":\"all\",\"50104\":\"all\",\"59144\":\"all\",\"60808\":\"all\",\"80094\":\"all\",\"999999\":\"all\",\"7565164\":\"all\",\"245022934\":\"all\",\"728126428\":\"all\"}}","inputChain":56,"outputChain":1,"inputCurrency":"","outputCurrency":"","address":"","showSwapTransfer":true,"amount":"","outputAmount":"","isAmountFromNotModifiable":false,"isAmountToNotModifiable":false,"lang":"en","mode":"deswap","isEnableCalldata":false,"styles":"e30=","theme":"dark","isHideLogo":false,"logo":"","disabledWallets":[],"disabledElements":[]}) 
</script>
        <SectionHeadings
            data={{
                label: "Section Features",
                title: "Features",
                description:
                    "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            }}
        />
        <Features
            data={{
                features: [
                    {
                        text: "Feature 1",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                    {
                        text: "Feature 2",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                    {
                        text: "Feature 3",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                    {
                        text: "Feature 4",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                    {
                        text: "Feature 5",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                    {
                        text: "Feature 6",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                ],
            }}
        />
        <SectionHeadings
            data={{
                showLine: true,
                label: "Content Image",
                title: "Unlimited solutions",
                description:
                    "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            }}
        />
        <ImageContent
            data={{
                imagePosition: "right",
                aboveTitle: "About Us",
                title: "We are a team of professionals",
                description:
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                image: "heroImg",
                features: [
                    { text: "featue1" },
                    { text: "featue2" },
                    { text: "featue3" },
                ],
            }}
        />
       
        <SectionHeadings
            data={{
                showLine: true,
                title: "Trusted by",
                description:
                    "Cient's around the world trust us to deliver fast, reliable, and secure services for their business.",
            }}
        />
        <Testimonials
            data={[
                {
                    authorName: "John Doe",
                    authorRole: "CEO",
                    content:
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                },
                {
                    authorName: "Jane Doe",
                    authorRole: "CEO",
                    content:
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                },
                {
                    authorName: "John Doe",
                    authorRole: "CEO",
                    content:
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                },
            ]}
        />
    </main>
</Layout>
