---
import Layout from "../layouts/Layout.astro";

import { Button } from "@components/Button";
import { Container } from "@components/Container";
---

<Layout

    title="Instan Crypto Exchange"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">

       <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=62894aa62c2b24001fd54879&product=sop' async='async'></script>
        <section class="relative mb-20 pt-32" data-animate>
            <Container>
                <div class="text-center">
                    <h1
                        class="text-h1 md:text-h1-md lg:text-h1-lg font-bold opacity-90"
                    >
                        <br /> Let's Exchange
                    </h1>
                </div>

                <div class="max-w-sm mx-auto">
                    <div class="flex items-center my-6">
                        <span class="border-t border-tertiary grow mr-3">
                        </span>
                        <div class="text-primary opacity-60">
                            Saka.Exchange
                        </div>
                        <span class="border-t border-tertiary grow ml-3">
                        </span>
                    </div>

                    <form>

                        <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
                        
                    <div id="debridgeWidget"></div>
<script src="https://app.debridge.finance/assets/scripts/widget.js"></script>
<script>
deBridge.widget({"v":"1","element":"debridgeWidget","title":"Sky Ro","description":"","width":"100%","height":"400","r":"32427","supportedChains":"{\"inputChains\":{\"1\":\"all\",\"10\":\"all\",\"56\":\"all\",\"100\":\"all\",\"137\":\"all\",\"146\":\"all\",\"747\":\"all\",\"999\":\"all\",\"1329\":\"all\",\"1514\":\"all\",\"2741\":\"all\",\"5000\":\"all\",\"8453\":\"all\",\"32769\":\"all\",\"42161\":\"all\",\"43114\":\"all\",\"50104\":\"all\",\"59144\":\"all\",\"60808\":\"all\",\"80094\":\"all\",\"999999\":\"all\",\"7565164\":\"all\",\"245022934\":\"all\",\"728126428\":\"all\"},\"outputChains\":{\"1\":\"all\",\"10\":\"all\",\"56\":\"all\",\"100\":\"all\",\"137\":\"all\",\"146\":\"all\",\"747\":\"all\",\"999\":\"all\",\"1329\":\"all\",\"1514\":\"all\",\"2741\":\"all\",\"5000\":\"all\",\"8453\":\"all\",\"32769\":\"all\",\"42161\":\"all\",\"43114\":\"all\",\"50104\":\"all\",\"59144\":\"all\",\"60808\":\"all\",\"80094\":\"all\",\"999999\":\"all\",\"7565164\":\"all\",\"245022934\":\"all\",\"728126428\":\"all\"}}","inputChain":56,"outputChain":1,"inputCurrency":"","outputCurrency":"","address":"","showSwapTransfer":true,"amount":"","outputAmount":"","isAmountFromNotModifiable":false,"isAmountToNotModifiable":false,"lang":"en","mode":"deswap","isEnableCalldata":false,"styles":"e30=","theme":"dark","isHideLogo":false,"logo":"","disabledWallets":[],"disabledElements":[]}) 
</script>

                      <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
                      <dotlottie-wc src="https://lottie.host/5545aaa9-062b-49a6-895c-f89374f0c6c4/PpFvTmMtOx.lottie" speed="1" style="width: 100%; height: 10px" mode="forward" loop autoplay></dotlottie-wc>
                            
                        </div>
                       
                            </div>
                        </div>
                    </form>
                    <div class="text-primary text-center mt-6">
                         <a
                            href="#"
                            class="text-tertiary hover: transition duration-150 ease-in-out"
                            ></a
                        >
                    </div>
                </div>
            </Container>
        </section>
    </main>
    <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "95370237-8a38-471a-9c1c-31e780a00245"
  });
</script>
</Layout>
