---
import { Hero } from "@modules/Hero";
import Layout from "../layouts/Layout.astro";
import { Features } from "@modules/Feautres";
import { ImageContent } from "@modules/ImageContent";
import { SectionHeadings } from "@modules/SectionsHeading";
import { Testimonials } from "@modules/Testimonials";
---

<Layout title="Trail Landing" description="YOUR META DESCRIPTION FOR SEO">
    <main class="page-content">
        <Hero
            heroType="center"
            data={{
                image: "",
                title: `Limitless Web3 Exchange`,
                
                description: `A simple, elegant, and modern landing page template for startups, apps, and products.`,
                
                buttons: [
                    {
                       
                    },
                    {
                       
                    },
                ],
            }}
        />
       
        <iframe id='iframe-widget' src='https://changenow.io/embeds/exchange-widget/v2/widget.html?FAQ=true&amount=0.1&amountFiat=1500&backgroundColor=2B2B35&darkMode=true&from=btc&fromFiat=eur&horizontal=false&isFiat&lang=en-US&link_id=537f0c2ee20bbe&locales=true&logo=false&primaryColor=00C26F&to=eth&toFiat=eth&toTheMoon=true' style="height: 356px; width: 100%; border: none"></iframe>
    <script defer type='text/javascript' src='https://changenow.io/embeds/exchange-widget/v2/stepper-connector.js'></script>
        <SectionHeadings
            data={{
                label: "Section Features",
                title: "Features",
                description:
                    "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            }}
        />
        <Features
            data={{
                features: [
                    {
                        text: "Feature 1",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                    {
                        text: "Feature 2",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                    {
                        text: "Feature 3",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                    {
                        text: "Feature 4",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                    {
                        text: "Feature 5",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                    {
                        text: "Feature 6",
                        description:
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        icon: "react",
                    },
                ],
            }}
        />
        <SectionHeadings
            data={{
                showLine: true,
                label: "Content Image",
                title: "Unlimited solutions",
                description:
                    "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            }}
        />
        <ImageContent
            data={{
                imagePosition: "right",
                aboveTitle: "About Us",
                title: "We are a team of professionals",
                description:
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                image: "heroImg",
                features: [
                    { text: "featue1" },
                    { text: "featue2" },
                    { text: "featue3" },
                ],
            }}
        />
       
        <SectionHeadings
            data={{
                showLine: true,
                title: "Trusted by",
                description:
                    "Cient's around the world trust us to deliver fast, reliable, and secure services for their business.",
            }}
        />
        <Testimonials
            data={[
                {
                    authorName: "John Doe",
                    authorRole: "CEO",
                    content:
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                },
                {
                    authorName: "Jane Doe",
                    authorRole: "CEO",
                    content:
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                },
                {
                    authorName: "John Doe",
                    authorRole: "CEO",
                    content:
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                },
            ]}
        />
    </main>
</Layout>
